* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    font: 14px 'lato', sans-serif;
    font-weight: normal;
}

h2 {
    font: 36px 'lato', sans-serif ;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    margin: 0 auto;
}
h4 {
    font: 18px 'lato', sans-serif;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}

.container {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
}