.one {
    color: #201ba8;
    font-size: small;
    font-family: Arial, serif;
}
.two {
    color: red;
    font-family: Arial, serif;
    font-size: small;
}
p {
    text-indent: 70px;
    text-align: justify;
    line-height: 1.5;
}

.three {
    color: #201ba8;
    text-align: center;
}

.four {
    font-family: sans-serif;
    font-size: small;
}



